### mysql Table Schema ( NULL if empty )
| column | type | description |
| --- | --- | --- |
| path | text (primary key) | |
| filename | text (not null) | XX.xxx |
| date | text | YYYYMMDD |
| label | text | |
| online_test | text | OK/NG/Overkill/Leak |
| SN | text | 版號 |
| location | text (not null) | 位號 |
| component | text (not null) | 元件代號 |
| degree | text | 正確角度( 000, 090, 180, 270 ) |
| capacity | text | 正確容值 |
| voltage | text | 正確耐壓值 |
| index_count | text | in case images replaced |
| part_name | text | 料號 |
| width | integer | 圖片寬 |
| height | integer | 圖片長 |
| file_url | text | file-server-url |

In [1]:
sample_data_from_sqlite3 = ('/data/aoi-wzs-p1-dip-fa-nvidia/image/20190808/OK/CN0C2GT0WS30098200H8A06_L-J-T340-NG_270_000_000.jpg', 'CN0C2GT0WS30098200H8A06_L-J-T340-NG_270_000_000.jpg', '20190808', 'OK', 'CN0C2GT0WS30098200H8A06', 'L-J-T340-NG', '270', '000', '000', 'label', 765, 823)
sample_data_from_sqlite3

('/data/aoi-wzs-p1-dip-fa-nvidia/image/20190808/OK/CN0C2GT0WS30098200H8A06_L-J-T340-NG_270_000_000.jpg',
 'CN0C2GT0WS30098200H8A06_L-J-T340-NG_270_000_000.jpg',
 '20190808',
 'OK',
 'CN0C2GT0WS30098200H8A06',
 'L-J-T340-NG',
 '270',
 '000',
 '000',
 'label',
 765,
 823)

In [10]:
# ! pip install mysql-connector-python-rf
import mysql.connector

mydb = mysql.connector.connect(
  host="10.41.241.230",
  port="30003",
  user="aoi_ai",
  password="finding_way_out",
  database="P1"
)

mycursor = mydb.cursor()

In [11]:
sql = "INSERT INTO dip_fa (path, filename, date, label, online_test, SN, location, component, degree, capacity, voltage, index_count, part_name, width, height, file_url) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"
failed = []
for x in xx:
    try:
        to_insert = (x[0], x[1], x[2], x[3], None, x[4], x[5], x[-3], x[6], x[7], x[8], None, None, x[-2], x[-1], '10.41.241.230:30038'+x[0])
        mycursor.execute(sql, to_insert)
        mydb.commit()
    except Exception as e:
        print(e, x)
        failed.append(x)
print(mycursor.rowcount, "record inserted.")

1062 (23000): Duplicate entry '/data/aoi-wzs-p1-dip-fa-nvidia/image/20190808/OK/CN0C2GT0WS30...' for key 'PRIMARY' ('/data/aoi-wzs-p1-dip-fa-nvidia/image/20190808/OK/CN0C2GT0WS30098200H8A06_L-J-T340-NG_270_000_000.jpg', 'CN0C2GT0WS30098200H8A06_L-J-T340-NG_270_000_000.jpg', '20190808', 'OK', 'CN0C2GT0WS30098200H8A06', 'L-J-T340-NG', '270', '000', '000', 'label', 765, 823)
1406 (22001): Data too long for column 'voltage' at row 1 ('/data/aoi-wzs-p1-dip-fa-nvidia/image/20190909/OK/8SSB27A18611W5ZS99500FP_LabelMAC_270_000_0000.jpg', '8SSB27A18611W5ZS99500FP_LabelMAC_270_000_0000.jpg', '20190909', 'OK', '8SSB27A18611W5ZS99500FP', 'LabelMAC', '270', '000', '0000', 'label', 893, 1037)
1406 (22001): Data too long for column 'capacity' at row 1 ('/data/aoi-wzs-p1-dip-fa-nvidia/data-center/D9/NOAI_Image/2020-09-17/ZHX168E26A020200917092932853_HS_U1_VNEST_0.jpg', 'ZHX168E26A020200917092932853_HS_U1_VNEST_0.jpg', '20200917', 'other', 'ZHX168E26A020200917092932853', 'HS', 'U1', 'VNEST', '0', 'heat_sink', 387, 407)
1406 (22001): Data too long for column 'capacity' at row 1 ('/data/aoi-wzs-p1-dip-fa-nvidia/data-center/D9/NOAI_Image/2020-09-10/11S02WF038YA10UF06501V_HS_U1_VNEST_0.jpg', '11S02WF038YA10UF06501V_HS_U1_VNEST_0.jpg', '20200910', 'other', '11S02WF038YA10UF06501V', 'HS', 'U1', 'VNEST', '0', 'heat_sink', 380, 400)
1 record inserted.

In [31]:
mydb.close()

##### it's too long to insert b64 decoded string of image. The length increase by images bytes. 3 bytes to 4 characters

In [23]:
# import base64
b64_image = base64.b64encode(open(x[0], "rb").read()).decode("utf-8")
len(b64_image)

104452